<%= form_with(model: grid, local: true) do |form| %>
  <% if grid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grid.errors.count, "error") %> prohibited this grid from being saved:</h2>

      <ul>
      <% grid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :curr_player_name %>
    <%= form.text_field :curr_player_name %>
  </div>

  <div class="field">
    <%= form.label :opponent_name %>
    <%= form.text_field :opponent_name %>
  </div>

  <div class="field">
    <%= form.label :curr_player_ocean %>
    <%= form.text_area :curr_player_ocean %>
  </div>

  <div class="field">
    <%= form.label :curr_player_game %>
    <%= form.text_area :curr_player_game %>
  </div>

  <div class="field">
    <%= form.label :opponent_ocean %>
    <%= form.text_area :opponent_ocean %>
  </div>

  <div class="field">
    <%= form.label :opponent_gamegrid %>
    <%= form.text_area :opponent_gamegrid %>
  </div>

  <div class="field">
    <%= form.label :direction %>
    <%= form.text_field :direction %>
  </div>

  <div class="field">
    <%= form.label :grid_x %>
    <%= form.text_field :grid_x %>
  </div>

  <div class="field">
    <%= form.label :grid_y %>
    <%= form.text_field :grid_y %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
