<p id="notice"><%= notice %></p>

<h1>Grids</h1>

<table>
  <thead>
    <tr>
      <th>Curr player name</th>
      <th>Opponent name</th>
      <th>Curr player ocean</th>
      <th>Curr player game</th>
      <th>Opponent ocean</th>
      <th>Opponent gamegrid</th>
      <th>Direction</th>
      <th>Grid x</th>
      <th>Grid y</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grids.each do |grid| %>
      <tr>
        <td><%= grid.curr_player_name %></td>
        <td><%= grid.opponent_name %></td>
        <td><%= grid.curr_player_ocean %></td>
        <td><%= grid.curr_player_game %></td>
        <td><%= grid.opponent_ocean %></td>
        <td><%= grid.opponent_gamegrid %></td>
        <td><%= grid.direction %></td>
        <td><%= grid.grid_x %></td>
        <td><%= grid.grid_y %></td>
        <td><%= link_to 'Show', grid %></td>
        <td><%= link_to 'Edit', edit_grid_path(grid) %></td>
        <td><%= link_to 'Destroy', grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grid', new_grid_path %>
