<p id="notice"><%= notice %></p>

<p>
  <strong>Curr player name:</strong>
  <%= @grid.curr_player_name %>
</p>

<p>
  <strong>Opponent name:</strong>
  <%= @grid.opponent_name %>
</p>

<p>
  <strong>Curr player ocean:</strong>
  <%= @grid.curr_player_ocean %>
</p>

<p>
  <strong>Curr player game:</strong>
  <%= @grid.curr_player_game %>
</p>

<p>
  <strong>Opponent ocean:</strong>
  <%= @grid.opponent_ocean %>
</p>

<p>
  <strong>Opponent gamegrid:</strong>
  <%= @grid.opponent_gamegrid %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @grid.direction %>
</p>

<p>
  <strong>Grid x:</strong>
  <%= @grid.grid_x %>
</p>

<p>
  <strong>Grid y:</strong>
  <%= @grid.grid_y %>
</p>

<%= link_to 'Edit', edit_grid_path(@grid) %> |
<%= link_to 'Back', grids_path %>
